[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cregg"]
	path = cregg
	url = https://github.com/leeper/cregg
[submodule "csvy"]
	path = csvy
	url = https://github.com/leeper/csvy
[submodule "GK2011"]
	path = GK2011
	url = https://github.com/leeper/gk2011
[submodule "margins"]
	path = margins
	url = https://github.com/leeper/margins
[submodule "prediction"]
	path = prediction
	url = https://github.com/leeper/prediction
[submodule "rio"]
	path = rio
	url = https://github.com/leeper/rio
[submodule "sparktex"]
	path = sparktex
	url = https://github.com/leeper/sparktex
[submodule "webuse"]
	path = webuse
	url = https://github.com/leeper/webuse
